tmp/*
*.opensdf
*.sdf
build/.vs/*
build/miniblink.VC.db
build/miniblink.VC.VC.opendb
*.ipch
out/*
bin/cookies.dat
/wkexe/cookies.dat
/wkexe/LocalStorage/*.localstorage
/build/miniblink/bak
/build/miniblink/bak2
